---
/**
 * WIP!
 * This should be a web component so that it can be created programmatically.
 * It can be either full-size or compact
 * It can be either openable or on cooldown
 */
const {
    class: classNames,
    "wrapper-src": wrapperSrc,
    "pack-title": packTitle,
} = Astro.props;
---
<div class="card is-flex is-justify-content-center is-align-content-center">
    <div
    class:list={[
        classNames,
    ]}
    >
    <h1 class="title_card is-flex is-justify-content-center">{packTitle}</h1>
    
    <img
        class="img_card"
        src={wrapperSrc ?? "pack.webp"}
        alt="imagen"
    />

    <div class="card-button is-flex is-justify-content-center">
        <button class="button is-black is-flex" >Open</button>
    </div>

    
</div>


<style>

    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



    .card {
        display: flex;
        background: rgb(255, 255, 255);
        width: 250px;
        height: 350px;
        border-radius: 10px; 
        padding: 16px 8px;
        margin: 5px ;
        gap: 20px;
        box-shadow: -1px 2px 41px -6px rgba(83,143,189,1);
    }

    .img_card {
        height: 200px;
    }


    .title_card {
        font-family: 'Courier New', Courier, monospace;
        color: rgb(0, 0, 0);
    }

    .card-button{

    }

    


</style>
