---
/**
 * User profile showcase.
 * Child elements are slotted into a container displayed beside or below the
 * user's profile picture. Said container is named profile-banner-container and
 * has a minimum width of 300px.
 */
// TODO: User name and Profile name should be determined on the client.
const { "container-class": slotContainerClasses } = Astro.props;
---

<script>
    import fetchUser from "../scripts/fetchUser";
    const user = await fetchUser();
    if (!user) window.location.replace("/login");
    const usernameDisplay = document.getElementById(
        "profile-showcase-username"
    )!;
    usernameDisplay.classList.remove("has-skeleton");
    usernameDisplay.textContent = `@${user.username}`;
    const profileNameDisplay = document.getElementById(
        "profile-showcase-profile-name"
    )!;
    profileNameDisplay.classList.remove("has-skeleton");
    profileNameDisplay.textContent = user.profileName;
    const profilePictureImg = document.getElementById(
        "profile-showcase-image"
    )!;
    profilePictureImg.setAttribute("src", `${user.profilePictureUrl}`);
    profilePictureImg.parentElement?.classList.remove("is-skeleton");
</script>
<section class="background-profile hero is-small is-link">
    <div class="hero-body is-flex is-flex-direction-row is-flex-wrap-wrap">
        <div
            class="profile-flex is-flex-shrink-0 is-inline-flex is-align-items-center is-justify-content-center p-1"
        >
            <figure class="image is-128x128 is-skeleton">
                <img
                    id="profile-showcase-image"
                    class="image"
                    src="/public/default-profile-picture.svg"
                    alt="profile picture"
                />
            </figure>
            <div
                class="names-flex is-flex is-flex-direction-column is-align-self-stretch is-justify-content-center"
            >
                <h2
                    id="profile-showcase-profile-name"
                    class="has-skeleton is-size-4-tablet is-size-5-mobile has-text-weight-bold"
                >
                    Profile Name
                </h2>
                <h4
                    id="profile-showcase-username"
                    class="has-skeleton is-size-5-tablet is-size-6-mobile has-text-weight-light"
                >
                    username
                </h4>
            </div>
        </div>
        <div class:list={["profile-banner-container", slotContainerClasses]}>
            <slot />
        </div>
    </div>
</section>
<style>
    .background-profile {
        box-shadow: 15px 23px 23px -35px rgba(240, 231, 240, 1);
    }
    section,
    section > div {
        width: 100%;
    }

    div.names-flex > h4 {
        color: #abb1bf;
    }

    div.names-flex > h2,
    div.names-flex > h4 {
        word-break: break-word;
    }

    div.profile-flex {
        gap: 10px;
        flex-basis: fit-content;
        min-width: 300px;
        flex-grow: 1;
    }

    div.profile-flex > figure {
        border-radius: 50%;
        min-width: 128px;
    }

    div.profile-banner-container {
        flex-basis: 300px;
        flex-grow: 9999999;
        container: profile-banner-container / size;
    }

    div.names-flex {
        gap: 5px;
    }

    @media (max-width: 768px) {
        div.profile-flex {
            flex-direction: column;
        }
        div.names-flex {
            text-align: center;
        }
    }

    @media (min-width: 769px) {
        div.profile-flex {
            flex-direction: row;
        }
        div.names-flex {
            text-align: start;
        }
    }

    .profile-banner-container {
        min-height: 5rem;
    }

    @media (max-width: 768px) {
        .profile-banner-container {
            min-height: 3rem;
        }
    }
</style>
