---
import Layout from "../layouts/Layout.astro";
---

<Layout title="page not found">
    <main style="text-align: center; padding: 2rem;">
        <h1 style="font-size: 3rem; margin-bottom: 1rem;">404</h1>
        <p style="font-size: 1.5rem;">
            Sorry, the page you are looking for does not exist.
        </p>
        <a
            href="/home"
            style="margin-top: 1rem; display: inline-block; font-size: 1.2rem; color: blue;"
        >
            Return to main page
        </a>
    </main>
</Layout>
