---
// TODO: Collection stats should be queried at runtime
// TODO: Change RadioTabs to a dropdown on small viewport (width < 550)
// TODO: Center cards when theres only one column
import GenericLayout from "../layouts/GenericLayout.astro";
import UserPortalNavbar from "../components/UserPortalNavbar.astro";
import CardPack from "../components/CardPack.astro";
import Card from "../components/Card.astro";
import CardFilter from "../components/CardFilter.astro";
import RadioTabs from "../components/RadioTabs.astro";
import ProfileDashboard from "../components/ProfileDashboard.astro";
import SearchBar from "../components/SearchBar.astro";
import StickyTopbar from "../components/StickyTopbar.astro";
---

<GenericLayout title="Collection">
    <UserPortalNavbar />
    <main>
        <ProfileDashboard>
            <div slot="stats">
                <h2 slot="stat-1" class="is-size-4-tablet is-size-5-mobile">Collected</h2>
                <h4 slot="stat-1">0/20</h4>
            </div>
            <div slot="stats">
                <h2 slot="stat-2" class="is-size-4-tablet is-size-5-mobile">Seen</h2>
                <h4 slot="stat-2">0/20</h4>
            </div>
            <CardPack
                slot="card-packs"
                compact
                pack-title="Goofy ahh pack"
                last-opened={new Date(
                    new Date().getDate() - 1000 * 60 * 60 * 10
                ).toISOString()}
            />
            <CardPack
                slot="card-packs"
                compact
                class="is-hidden-touch is-hidden-desktop-only"
                compact
                pack-title="Rumbumptious pack"
                last-opened={new Date(
                    new Date().getDate() - 1000 * 10
                ).toISOString()}
            />
        </ProfileDashboard>
        <section class="collection p-5">
            <StickyTopbar>
                <SearchBar id="card-filter-form" class="is-flex-grow-1" name="title" placeholder="Card name">
                    <CardFilter />
                </SearchBar>
                <RadioTabs>
                    <li>
                        <label>
                            Season
                            <input
                                checked
                                name="grouping"
                                value="season"
                                type="radio"
                                autocomplete="off"
                            />
                        </label>
                    </li>
                    <li>
                        <label>
                            Rarity
                            <input
                                name="grouping"
                                value="rarity"
                                type="radio"
                                autocomplete="off"
                            />
                        </label>
                    </li>
                </RadioTabs>
            </StickyTopbar>
            <div class="cards">
                <h1 class="subtitle is-size-3">Season 1<hr /></h1>
                <Card />
                <Card />
                <Card />
                <Card />
                <Card />
                <Card />
                <Card />
                <Card />
                <Card />
                <Card />
                <Card />
                <Card />
                <Card />
                <h1 class="subtitle is-size-3 m-0 mt-6">Season 2<hr /></h1>
                <Card />
                <Card />
                <Card />
                <Card />
                <Card />
                <Card />
                <Card />
                <Card />
                <Card />
                <Card />
                <Card />
                <Card />
                <Card />
                <Card />
                <Card />
                <Card />
                <Card />
                <Card />
                <Card />
                <Card />
                <Card />
                <Card />
                <Card />
                <Card />
                <Card />
                <Card />
                <h1 class="subtitle is-size-3 m-0 mt-6">Season 3<hr /></h1>
                <Card />
                <Card />
                <Card />
                <Card />
                <Card />
                <Card />
                <Card />
                <Card />
                <Card />
                <Card />
                <Card />
                <Card />
            </div> 
        </section>
    </main>
</GenericLayout>
<style>
    .collection > .cards {
        display: grid;
        height: 100%;
        gap: 10px;
        justify-content: space-between;
        align-content: space-around;
        grid-template-columns: repeat(auto-fill, 2.5in);
        grid-auto-rows: auto;
    }

    .collection > .cards > h1 {
        grid-column: 1 / -1;
    }

    .cards > hr {
        border: 1px solid var(--bulma-subtitle-color);
    }

    .cards > h1:first-child {
        margin-top: 0;
    }

    .cards > h1 {
        margin: 0;
        margin-top: var(--bulma-size-6);
    }

    .filter {
        position: sticky;
        top: 0;
        display: flex;
        background-color: var(--bulma-body-background-color);
        gap: 20px;
        height: var(--logo-height);
    } 
</style>
