---
import Layout from "../layouts/Layout.astro";
import ClientPortalNavbar from "../components/ClientPortalNavbar.astro";
---
<Layout>
    <ClientPortalNavbar />
    <main>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae cum excepturi suscipit. Amet, perferendis ipsam? Delectus nam vitae, aliquid iusto ipsum fugit, quasi tempore eveniet excepturi ex quaerat! Enim, reiciendis.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae cum excepturi suscipit. Amet, perferendis ipsam? Delectus nam vitae, aliquid iusto ipsum fugit, quasi tempore eveniet excepturi ex quaerat! Enim, reiciendis.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae cum excepturi suscipit. Amet, perferendis ipsam? Delectus nam vitae, aliquid iusto ipsum fugit, quasi tempore eveniet excepturi ex quaerat! Enim, reiciendis.</p>
    </main>
</Layout>