---
// TODO: Collection stats should be queried at runtime
import Layout from "../layouts/Layout.astro";
import UserPortalNavbar from "../components/UserPortalNavbar.astro";
import ProfileLayout from "../layouts/ProfileLayout.astro";
import CardPack from "../components/CardPack.astro";
import Card from "../components/Card.astro";
import CardFilter from "../components/CardFilter.astro";
import RadioTabs from "../components/RadioTabs.astro";
---

<Layout title="Collection">
    <UserPortalNavbar />
    <main>
        <ProfileLayout
            container-class="is-flex is-justify-content-space-around is-align-items-stretch"
        >
            <div
                class="stats-flex is-flex is-flex-grow-1 is-justify-content-center is-align-items-center"
            >
                <div>
                    <h2 class="is-size-4-tablet is-size-5-mobile">Collected</h2>
                    <h4>0/20</h4>
                </div>
                <div>
                    <h2 class="is-size-4-tablet is-size-5-mobile">Seen</h2>
                    <h4>0/20</h4>
                </div>
            </div>
            <div
                class="packs-flex is-hidden-mobile is-flex-grow-2 is-justify-content-space-around is-flex-wrap-wrap"
            >
                <CardPack
                    compact
                    pack-title="Goofy ahh pack"
                    last-opened={new Date(
                        new Date().getDate() - 1000 * 60 * 60 * 10
                    ).toISOString()}
                />
                <CardPack
                    compact
                    class="is-hidden-touch is-hidden-desktop-only"
                    compact
                    pack-title="Rumbumptious pack"
                    last-opened={new Date(
                        new Date().getDate() - 1000 * 10
                    ).toISOString()}
                />
            </div>
        </ProfileLayout>
        <section class="collection p-5">
            <div class="filter">
                <CardFilter class="pt-4 pb-3 is-flex-grow-1" />
                <div class="grouping">
                    <RadioTabs class="pt-4 pb-3">
                        <li>
                            <label>
                                Season
                                <input
                                    checked
                                    name="grouping"
                                    value="season"
                                    type="radio"
                                    autocomplete="off"
                                />
                            </label>
                        </li>
                        <li>
                            <label>
                                Rarity
                                <input
                                    name="grouping"
                                    value="rarity"
                                    type="radio"
                                    autocomplete="off"
                                />
                            </label>
                        </li>
                    </RadioTabs>
                </div>
            </div>
            <div class="cards">
                <h1 class="subtitle is-size-3">Season 1<hr /></h1>
                <Card />
                <Card />
                <Card />
                <Card />
                <Card />
                <Card />
                <Card />
                <Card />
                <Card />
                <Card />
                <Card />
                <Card />
                <Card />
                <h1 class="subtitle is-size-3 m-0 mt-6">Season 2<hr /></h1>
                <Card />
                <Card />
                <Card />
                <Card />
                <Card />
                <Card />
                <Card />
                <Card />
                <Card />
                <Card />
                <Card />
                <Card />
                <Card />
                <Card />
                <Card />
                <Card />
                <Card />
                <Card />
                <Card />
                <Card />
                <Card />
                <Card />
                <Card />
                <Card />
                <Card />
                <Card />
                <h1 class="subtitle is-size-3 m-0 mt-6">Season 3<hr /></h1>
                <Card />
                <Card />
                <Card />
                <Card />
                <Card />
                <Card />
                <Card />
                <Card />
                <Card />
                <Card />
                <Card />
                <Card />
            </div>
            <!-- <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Repudiandae cum excepturi suscipit. Amet, perferendis ipsam?
                Delectus nam vitae, aliquid iusto ipsum fugit, quasi tempore
                eveniet excepturi ex quaerat! Enim, reiciendis.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Repudiandae cum excepturi suscipit. Amet, perferendis ipsam?
                Delectus nam vitae, aliquid iusto ipsum fugit, quasi tempore
                eveniet excepturi ex quaerat! Enim, reiciendis.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Repudiandae cum excepturi suscipit. Amet, perferendis ipsam?
                Delectus nam vitae, aliquid iusto ipsum fugit, quasi tempore
                eveniet excepturi ex quaerat! Enim, reiciendis.
            </p> -->
        </section>
    </main>
</Layout>
<style>
    .collection > .cards {
        display: grid;
        height: 100%;
        gap: 10px;
        justify-content: space-between;
        align-content: space-around;
        grid-template-columns: repeat(auto-fill, 2.5in);
        grid-auto-rows: auto;
    }

    .collection > .cards > h1 {
        grid-column: 1 / -1;
    }

    .cards > hr {
        border: 1px solid var(--bulma-subtitle-color);
    }

    .cards > h1:first-child {
        margin-top: 0;
    }

    .cards > h1 {
        margin: 0;
        margin-top: var(--bulma-size-6);
    }

    .filter {
        position: sticky;
        top: 0;
        display: flex;
        background-color: var(--bulma-body-background-color);
        gap: 20px;
    }

    :global(.profile-banner-container) {
        min-height: 5rem;
    }

    div.packs-flex {
        display: flex;
        gap: 10px;
    }

    div.packs-flex > :global(.card-pack) {
        height: 100%;
    }

    div.stats-flex h2,
    div.stats-flex h4 {
        width: 8rem;
        text-align: right;
    }

    div.stats-flex {
        flex-direction: row;
        flex-basis: 8rem;
    }

    @container (max-width: 700px) and (min-height: 6rem /* Hacky way to check if the container is not wrapped */) {
        div.stats-flex {
            flex-direction: column;
        }
    }

    @container (max-width: 500px) {
        :global(div.packs-flex > div.card-pack:last-of-type) {
            display: none !important;
        }
    }

    @container (height: 5rem /* Hacky way to check if the container is wrapped */) {
        div.packs-flex {
            display: none;
        }
    }

    @media (max-width: 768px) {
        :global(.profile-banner-container) {
            min-height: 3rem;
        }
        div.stats-flex {
            flex-direction: row;
        }
        div.stats-flex h2,
        div.stats-flex h4 {
            text-align: center;
        }
    }
</style>
