---
import GenericLayout from "../layouts/GenericLayout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<GenericLayout>
    <ul>
        <li><a href="/collection">collection</a></li>
        <li><a href="/dashboard">dashboard</a></li>
        <li><a href="/market">market</a></li>
    </ul>
</GenericLayout>
