---
import UserPortalNavbar from "../components/UserPortalNavbar.astro";
import GenericLayout from "../layouts/GenericLayout.astro";
import ProfileDashboard from "../components/ProfileDashboard.astro";
import UserPortalLayout from "../layouts/UserPortalLayout.astro";
---

<UserPortalLayout class="hero is-link min-height">
    <div class="settings-container is-flex is-align-items-center is-justify-content-space-around p-5">
            <img src="default-profile-picture.svg" alt="">
    <form action="" class="box has-background-dark">
        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Profile Name</label>
            </div>
            <div class="field-body">
                <div class="field is-expanded is-flex is-align-items-center">
                    <div class="control has-icons-left is-flex-grow-1">
                        <input
                            name="profileName"
                            autocomplete="off"
                            required
                            class="input"
                            type="text"
                            placeholder="Loading..."
                        />
                        <span class="icon is-small is-left">
                            <i class="fa-solid fa-address-card"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Username</label>
            </div>
            <div class="field-body">
                <div class="field is-expanded">
                    <div class="control has-icons-left has-icons-right">
                        <input
                            name="username"
                            autocomplete="off"
                            required
                            pattern="^[a-z0-9_]+$"
                            class="input"
                            type="text"
                            placeholder="Loading..."
                        />
                        <span class="icon is-small is-left">
                            <i class="fas fa-user"></i>
                        </span>
                        <!-- <span class="icon is-small is-right"> -->
                        <!-- <i class="fas fa-check"></i> -->
                        <!-- </span> -->
                    </div>
                    <!-- <p class="help is-success">This username is available</p> -->
                    <p
                        id="username-bad-format-help"
                        class="help is-danger is-hidden"
                    >
                        Usernames cant contain uppercase letters or special
                        characters.
                    </p>
                </div>
            </div>
        </div>
        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Email</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control has-icons-left has-icons-right">
                        <input
                            name="email"
                            autocomplete="off"
                            required
                            class="input"
                            type="email"
                            placeholder="Loading..."
                        />
                        <span class="icon is-small is-left">
                            <i class="fas fa-envelope"></i>
                        </span>
                        <!-- <span class="icon is-small is-right"> -->
                        <!-- <i class="fas fa-exclamation-triangle"></i> -->
                        <!-- </span> -->
                    </div>
                    <!-- <p class="help is-danger">This email is invalid</p> -->
                </div>
            </div>
        </div>
        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Password</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <p class="control has-icons-left">
                        <input
                            name="password"
                            autocomplete="off"
                            required
                            class="input"
                            type="password"
                            placeholder="Current password."
                        />
                        <span class="icon is-small is-left">
                            <i class="fas fa-lock"></i>
                        </span>
                    </p>
                </div>
                <div class="field">
                    <p class="control">
                        <input
                            id="password-repeat"
                            autocomplete="off"
                            required
                            class="input"
                            type="password"
                            placeholder="New password."
                        />
                    </p>
                    <p
                        id="mismatched-passwords-help"
                        class="help is-warning is-hidden"
                    >
                        The passwords do not match.
                    </p>
                </div>
            </div>
        </div>
         <div class="field is-horizontal is-justify-content-space-between">
            <div class="field-label"><label class="label"></label></div>
            <div class="buttons field-body is-justify-content-space-between">
                <button type="submit" class="button is-primary">Update</button>
                <button type="button" class="button is-danger">Delete user</button>
            </div>
        </div>       
    </form>
</div>
</UserPortalLayout>
<style is:global>
    .min-height {
        min-height: 100%;
    }

    .settings-container {
        gap: 15px;
        flex-grow: 1;
    }
    label {
        min-width: 5rem;
    }
    form {
        flex-basis: 360px;
        flex-grow: 1;
        flex-shrink: 0;
        /* min-width: 360px; */
    }
    @media (max-width: 850px) {
        .settings-container {
            flex-direction: column;
        }
        form {
            flex-basis: auto;
            flex-grow: unset;
        }
    }
</style>