---
import GenericLayout from "../layouts/GenericLayout.astro";
---

<GenericLayout class="is-flex is-justify-content-center is-align-items-center">
    <form class="box">
        <div class="logo">
            <a class="is-flex is-justify-content-center" href="/">
                <i
                    class="fa-solid fa-icons title m-0 is-size-1 is-size-3-mobile is-flex is-align-items-center"
                ></i>
                <span class="title is-size-1 is-size-3-mobile">Project</span>
            </a>
        </div>
        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Profile Name</label>
            </div>
            <div class="field-body">
                <div class="field is-expanded">
                    <div class="control">
                        <input
                            class="input"
                            type="text"
                            placeholder="Text input"
                        />
                    </div>
                </div>
            </div>
        </div>
        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Username</label>
            </div>
            <div class="field-body">
                <div class="field is-expanded">
                    <div class="control has-icons-left has-icons-right">
                        <input
                            class="input is-success"
                            type="text"
                            placeholder="Text input"
                            value="bulma"
                        />
                        <span class="icon is-small is-left">
                            <i class="fas fa-user"></i>
                        </span>
                        <span class="icon is-small is-right">
                            <i class="fas fa-check"></i>
                        </span>
                    </div>
                    <p class="help is-success">This username is available</p>
                </div>
            </div>
        </div>
        <div class="field is-horizontal">
            <div class="field-label">
                <label class="label">Email</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control has-icons-left has-icons-right">
                        <input
                            class="input is-danger"
                            type="email"
                            placeholder="Email input"
                            value="hello@"
                        />
                        <span class="icon is-small is-left">
                            <i class="fas fa-envelope"></i>
                        </span>
                        <span class="icon is-small is-right">
                            <i class="fas fa-exclamation-triangle"></i>
                        </span>
                    </div>
                    <p class="help is-danger">This email is invalid</p>
                </div>
            </div>
        </div>
        <div class="field is-horizontal">
            <div class="field-label">
                <label class="label">Password</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <p class="control has-icons-left">
                        <input
                            class="input"
                            type="password"
                            placeholder="Password"
                        />
                        <span class="icon is-small is-left">
                            <i class="fas fa-lock"></i>
                        </span>
                    </p>
                </div>
                <div class="field">
                    <p class="control">
                        <input
                            class="input is-warning"
                            type="password"
                            placeholder="Repeat your password"
                        />
                    </p>
                    <p class="help is-warning">The passwords do not match</p>
                </div>
            </div>
        </div>

        <div class="field is-horizontal is-justify-content-space-between">
            <div class="field-label"></div>
            <div class="field-body is-justify-content-space-between">
                <p class="help mt-2 mb-2 is-info is-flex is-align-items-center">
                    <a href="/login"> Already have an account? Log in! </a>
                </p>
                <button type="submit" disabled class="button is-primary"
                    >Sign up</button
                >
            </div>
        </div>
    </form>
</GenericLayout>
<style>
    .logo > a {
        gap: 10px;
    }

    .logo {
        margin: var(--bulma-size-2);
    }

    @media (max-width: 768px) {
        .logo {
            margin: var(--bulma-size-4);
        }
    }
</style>
